<!doctype html>

<html lang='en'>
  <% include ../views/partials/_head %>
  <% include ../views/partials/_header %>

  <body>
    <div class="container">
      <h1>Welcome to Blogger!</h1>
      <p>Make your first post by clicking on the Add Link</p>
    </div>
  </body>

</html>